<!DOCTYPE html>
<main>
  <header>
    <img
      class="header-logo"
      src="../assets/images/travalog_long_logo.jpg"
      alt=""
    />
    <h3>We sow for tomorrow</h3>
    <i class="fa-solid fa-user user-logo"></i>
  </header>
  <div class="carousel-div">
    <ngb-carousel [interval]="3000" [wrap]="true">
      <ng-template ngbSlide *ngFor="let image of images">
        <img [src]="image" class="carousel-image" alt="carousel image" />
      </ng-template>
    </ngb-carousel>
  </div>
  <section class="company-section">
    <!-- Left Side: Company Description -->
    <div class="company-description">
      <h2>About Travlog</h2>
      <p>
        Travlog is a leading logistics company committed to providing seamless
        and efficient transportation solutions. Our vision is to redefine
        logistics with innovation, reliability, and excellence.
      </p>
    </div>

    <!-- Right Side: Leaders Section -->
    <div class="leaders-section">
      <h2>Meet Our Leaders</h2>
      <div class="leaders-container">
        <div class="leader" *ngFor="let leader of leaders">
          <img
            [src]="leader.photo"
            alt="{{ leader.name }}"
            class="leader-photo"
          />
          <p class="leader-name">{{ leader.name }}</p>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <h3>SERVICES</h3>
        <ul>
          <li>Express Parcel</li>
          <li>Warehousing</li>
          <li>Part Truckload</li>
          <li>Full Truckload</li>
          <li>Cross Border</li>
          <li>Data Intelligence</li>
          <li>Software Platform</li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>SOLUTIONS</h3>
        <ul>
          <li>D2C Brands</li>
          <li>Personal Courier</li>
          <li>B2B Enterprises</li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>PARTNERS</h3>
        <ul>
          <li>Franchise Opportunities</li>
          <li>Delivery Partner</li>
          <li>Fleet Owner</li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>COMPANY</h3>
        <ul>
          <li>About Us</li>
          <li>Governance</li>
          <li>Investor Relations</li>
          <li>ODR Portal</li>
          <li>Press Release</li>
          <li>Careers</li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>GET IN TOUCH</h3>
        <ul>
          <li>Support</li>
          <li>Raise a query</li>
          <li>Store Locator</li>
          <li>Rate Calculator</li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>POLICIES</h3>
        <ul>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
          <li>Cookie Policy</li>
          <li>Fraud Disclaimer</li>
          <li>ONDC Disclaimer</li>
        </ul>
      </div>
    </div>
  </footer>
</main>
